body {
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  height: 3rem;
  background-color: white;
}
#grid {
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}

#grid,
.square {
  border: 2px solid white;
}
.square {
  height: calc(100% / 10);
  width: calc(100% / 10);
  cursor: crosshair;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.active {
  background-color: blue;
  color: white;
}
