body {
  background-color: #011627;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}

#grid,
.square {
  border: 2px solid white;
}
.square {
  height: calc(100% / 10);
  width: calc(100% / 10);
  cursor: crosshair;
}

.square.active {
  background-color: blue;
}
